/*font-family: 'Josefin Sans', sans-serif;*/

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #000000;
    padding: 16px 0;
}

header h1 {
    color: #6DDAE9;
    font-size: 40px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin-left: 10px;
}

nav {
    background-color: black;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(49, 138, 171, 0.3);
}

nav ul li a:activo {
    background-color: #4c76a5;

}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 25px 0;
    margin-top: 10px;
}

.holder { /*para que quede centrado*/
    max-width: 960px;
    margin: 0 auto;
 
}

h2 {
    color: black;
    font-weight: 400;
}

/*inicio del inicio*/

.homeimg {
    width: 960px;
}

.nosotros {
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.columnas {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.opinion .cita {
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 12px 0;
}


.opinion .autor {
    font-size: 15px;
    display: block;
    margin: 12px 0;
}

/*fin del inicio*/

/*inicio patagonia*/

.region p {
    font-size: 17px;
}

.circuito .info h5{
    font-size: 20px;
}


.circuito .info h6{
    font-size: 15px;
}

.circuito {
    border: 1px solid black;
    border-radius: 15px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    text-align: justify;
}

.circuito img{
    border-radius: 15px;
    display: block;
}

/*fin patagonia*/